<app-header></app-header>
<div class="container filters">
  <div class="row" id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="col-md-12">
      <form class=" form-inline">
        <div class="form-group ">
          <span class="spaCiO">Desde: </span>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-MM-dd" name="from" [(ngModel)]="datefrom"
              (Onchange)="(datefrom = datefrom )" type="date" ngbDatepicker #from="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="from.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <span class="spaCiO">Hasta: </span>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-MM-dd" name="to" [(ngModel)]="dateto"
              (Onchange)="(dateto = dateto)" type="date" ngbDatepicker #to="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="to.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-primary filtar ">
            Buscar
          </button>
        </div>
      </form>
    </div>
    <button type="button" class="btn btn-outline-primary filtar " (click)="downloadPDF()">
      pdf
    </button>
  </div>
</div>
