<app-header></app-header>
<div class="container order">

  <div class="row text-center">
    <div class="col-md-12 title">
      <h1>Por favor seleccione un tipo de orden</h1>
    </div>
    <div class="col-6 regular align-self-center">
      <div class="flex">
        <a (click)="onRegular('regular')" [routerLink]="['/order/regular']" class="box btn btn-danger btn-lg">
          <img src="assets/delivery.png" height="80px"> <br>REGULAR</a>
        <p class="box ">Este tipo de orden envía por FIFO (primero en entrar primero en salir) de
          cualquier género.</p>
      </div>
    </div>
    <div class="col-6 picking align-self-center">
      <div class="flex">
        <a (click)="onPicking('picking')" [routerLink]="['/order/picking']" class=" box btn btn-secondary btn-lg">
          <img src="assets/conveyor.png" height="80px"> <br>PICKING
        </a>
        <p class=" box ">Este tipo de orden permite seleccionar cantidades de diferentes géneros.</p>
      </div>
    </div>
  </div>
</div>
