.table td,
.table th {
  padding: 0.07rem;
}

.inputcat {
  width: 100% !important;
  text-align: center;
}

.table input {
  max-height: 25px;
}

.submitbtn {
  position: relative;
  left: 5%;
  top: -40px;
}

h6.catname {
  text-align: left !important;
  width: 65%;
}

.info p {
  max-height: 20px;
  font-size: 22px;
  font-weight: 900;
  padding-top: 2%;
}

p.pick {
  max-height: 0px;
  font-size: 24px;
  font-weight: 900;
}

.totalorder {
  font-size: 22px;
  font-weight: 700;
}

.gender {
  width: 100%;
}

.order {
  padding-top: 5%;
}

.title h1 {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 10px;
}

.picking {
  max-height: 10px;
}

.regular {
  max-height: 10px;
}
.regular a:hover,
.picking a:hover {
  border: 0.5px solid #454545;
  box-shadow: 0px 0px 5px 1px rgb(54, 51, 51);
}

.mat-body p,
.mat-body-1 p,
.mat-typography p {
  margin: 0px !important;
}

.col-6.picking.align-self-center {
}
.flex {
  display: flex;
  flex-flow: column;
}
p.box {
  width: 60%;
  margin: 16px auto;
}
