<app-header></app-header>
<div id="typeJob" *ngIf="!tipoTrabajo">
  <div class="item_main title">
    <h1>Seleccione el tipo de trabajo</h1>
  </div>
  <div class="item_main container_flex">
    <div class="item" (click)="click('t2t')">
      <a>
        <img src="../../../assets/t2t.png">
        <p>Tienda a Tienda (T2T)</p>
      </a>
    </div>
    <div class="item" (click)="click('b2b')">
      <a>
        <img src="../../../assets/b2b.png">
        <p> Empresa a Empresa (B2B)</p>
      </a>
    </div>
    <!-- <div class="item" (click)="click('b2c')">
      <a>
        <img src="../../../assets/b2c.png">
        <p>Empresa a Cliente (B2C)</p>
      </a>
    </div> -->
  </div>
</div>
<span style="clear: both;"></span>
<div class="container" *ngIf="tipoTrabajo">
  <div class="row">
    <form [formGroup]="requestT2TForm" class="col-md-5 sm-12  offset-md-3" *ngIf="t2t">
      <mat-list-item lines="full" class="form-group">
        <div class="container_2">
          <div class="col_custom">
            <button mat-fab color="accent" class="flab_btn" (click)="toBack()">
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
          </div>
          <div class="col_custom">
            <h1 class="text-center title">
              <mat-icon>not_listed_location</mat-icon>
              Seleccione el punto de origen y destino del paquete
            </h1>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Fecha: </mat-label>
        <input type="date" name="fechaTarea" max="2030-12-31" min="{{fechaMin | date:'yyyy-MM-dd'}}"
          class="form-control" [formControl]="fechaTarea" ngModel="{{fechaInitial| date:'yyyy-MM-dd'}}">
      </mat-list-item>
      <mat-list-item class="error" *ngFor="let error of errorMessages.fechaTarea">
        <mat-error *ngIf="fechaTarea.hasError(error.type) && (fechaTarea.dirty)">
          {{error.message}}
        </mat-error>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Tienda de Origen:</mat-label>
        <select class="form-control" name="origen" [formControl]="origen" [(ngModel)]="userSucursal" required>
          <option *ngFor="let sucursal of dataTienda" [ngValue]="sucursal.NOMBRE">
            {{sucursal.NOMBRE | uppercase}}
          </option>
        </select>
        <mat-list-item class="error" *ngFor="let error of errorMessages.origen">
          <mat-error *ngIf="origen.hasError(error.type) && (origen.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Tienda Destino:</mat-label>
        <select class="form-control" name="destino" [formControl]="destino"
          placeholder="Seleccione la tienda de destino">
          <option *ngFor="let sucursal of dataTienda" [ngValue]="sucursal.NOMBRE">
            {{sucursal.NOMBRE | uppercase}}
          </option>
        </select>
        <mat-list-item class="error" *ngFor="let error of errorMessages.destino">
          <mat-error *ngIf="destino.hasError(error.type) && (destino.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Cantidad de bultos:</mat-label>
        <input type="number" class="form-control" name="bultos" [formControl]="bultos">
        <mat-list-item class="error" *ngFor="let error of errorMessages.bultos">
          <mat-error *ngIf="bultos.hasError(error.type) && (bultos.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Valor Mercaderia:</mat-label>
        <input type="number" class="form-control" name="valor" [formControl]="valor">
        <mat-list-item class="error" *ngFor="let error of errorMessages.valor">
          <mat-error *ngIf="valor.hasError(error.type) && (valor.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Peso Kg total:</mat-label>
        <input type="number" class="form-control" name="peso" [formControl]="peso">
        <mat-list-item class="error" *ngFor="let error of errorMessages.peso">
          <mat-error *ngIf="peso.hasError(error.type) && (peso.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Comentarios:</mat-label>
        <textarea name="comentarios" class="form-control" [formControl]="comentarios">
        </textarea>
      </mat-list-item>
      <br>
      <mat-list-item fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-list-item fxLayout="column" fxFlex.sm="100" fxFlex.xs="100" fxFlex="50"
          fxLayoutAlign.xs="space-between  stretch" fxLayoutAlign="center stretch">
          <!-- (click)="saveProfile()" -->
          <button (click)="saveRequest()" [disabled]="!requestT2TForm.valid" class="form-control btn btn-danger"><span
              class="extended-fab-button__text">ENVIAR</span></button>
        </mat-list-item>
      </mat-list-item>
    </form>
    <form [formGroup]="requestB2BForm" class="col-md-5 sm-12  offset-md-3" *ngIf="b2b">
      <mat-list-item lines="full" class="form-group">
        <div class="container_2">
          <div class="col_custom">
            <button mat-fab color="accent" class="flab_btn" (click)="toBack()">
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
          </div>
          <div class="col_custom">
            <h1 class="text-center title">
              <mat-icon>not_listed_location</mat-icon>
              Seleccione el punto de origen y destino del paquete
            </h1>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Fecha: </mat-label>
        <input type="date" name="fechaTarea" max="2030-12-31" min="{{fechaMin | date:'yyyy-MM-dd'}}"
          class="form-control" [formControl]="fechaTarea" ngModel="{{fechaInitial| date:'yyyy-MM-dd'}}">
      </mat-list-item>
      <mat-list-item class="error" *ngFor="let error of errorMessages.fechaTarea">
        <mat-error *ngIf="fechaTarea.hasError(error.type) && (fechaTarea.dirty)">
          {{error.message}}
        </mat-error>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Tienda de Origen:</mat-label>
        <select class="form-control" name="origen" [formControl]="origen" [(ngModel)]="userSucursal" required>
          <option *ngFor="let sucursal of dataTienda" [ngValue]="sucursal.NOMBRE">
            {{sucursal.NOMBRE | uppercase}}
          </option>
        </select>
        <mat-list-item class="error" *ngFor="let error of errorMessages.origen">
          <mat-error *ngIf="origen.hasError(error.type) && (origen.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Destino (Nombre Empresa o Taller):</mat-label>
        <input type="text" class="form-control" name="destinatario" [formControl]="destinatario">
        <mat-list-item class="error" *ngFor="let error of errorMessages.destinatario">
          <mat-error *ngIf="destinatario.hasError(error.type) && (destinatario.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Dirección:</mat-label>
        <textarea name="direccion" class="form-control" [formControl]="direccion">
        </textarea>
        <mat-list-item class="error" *ngFor="let error of errorMessages.direccion">
          <mat-error *ngIf="direccion.hasError(error.type) && (direccion.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Contacto:</mat-label>
        <input type="text" class="form-control" name="contacto" [formControl]="contacto">
        <mat-list-item class="error" *ngFor="let error of errorMessages.contacto">
          <mat-error *ngIf="contacto.hasError(error.type) && (contacto.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Teléfono:</mat-label>
        <input type="text" class="form-control" name="telefono" [formControl]="telefono">
        <mat-list-item class="error" *ngFor="let error of errorMessages.telefono">
          <mat-error *ngIf="telefono.hasError(error.type) && (telefono.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Cantidad de bultos:</mat-label>
        <input type="number" class="form-control" name="bultos" [formControl]="bultos">
        <mat-list-item class="error" *ngFor="let error of errorMessages.bultos">
          <mat-error *ngIf="bultos.hasError(error.type) && (bultos.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Valor Mercaderia:</mat-label>
        <input type="number" class="form-control" name="valor" [formControl]="valor">
        <mat-list-item class="error" *ngFor="let error of errorMessages.valor">
          <mat-error *ngIf="valor.hasError(error.type) && (valor.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Peso Kg total:</mat-label>
        <input type="number" class="form-control" name="peso" [formControl]="peso">
        <mat-list-item class="error" *ngFor="let error of errorMessages.peso">
          <mat-error *ngIf="peso.hasError(error.type) && (peso.dirty)">
            {{error.message}}
          </mat-error>
        </mat-list-item>
      </mat-list-item>
      <mat-list-item lines="full" class="form-group">
        <mat-label>Comentarios:</mat-label>
        <textarea name="comentarios" class="form-control" [formControl]="comentarios">
        </textarea>
      </mat-list-item>
      <br>
      <mat-list-item fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-list-item fxLayout="column" fxFlex.sm="100" fxFlex.xs="100" fxFlex="50"
          fxLayoutAlign.xs="space-between  stretch" fxLayoutAlign="center stretch">
          <!-- (click)="saveProfile()" -->
          <button (click)="saveRequest()" [disabled]="!requestB2BForm.valid" class="form-control btn btn-danger"><span
              class="extended-fab-button__text">ENVIAR</span></button>
        </mat-list-item>
      </mat-list-item>
    </form>
  </div>
</div>
